In [2]:
SELECT * from locations

location_id,street_address,postal_code,city,state_province,country_id
1400,2014 Jabberwocky Rd,26192,Southlake,Texas,US
1500,2011 Interiors Blvd,99236,South San Francisco,California,US
1700,2004 Charade Rd,98199,Seattle,Washington,US
1800,147 Spadina Ave,M5V 2L7,Toronto,Ontario,CA
2400,8204 Arthur St,NULL,London,NULL,UK
2500,"Magdalen Centre, The Oxford Science Park",OX9 9ZB,Oxford,Oxford,UK
2700,Schwanthalerstr. 7031,80925,Munich,Bavaria,DE

In [3]:
select * from regions

region_id,region_name
1,Europe
2,Americas
3,Asia
4,Middle East and Africa