In [29]:
--Q1
select FIRST_NAME ,LAST_NAME,salary,DEPARTMENT_ID,JOB_ID from employees1 where JOB_ID='SA_REP'

FIRST_NAME,LAST_NAME,salary,DEPARTMENT_ID,JOB_ID
Peter,Tucker,10000.00,80,SA_REP
David,Bernstein,9500.00,80,SA_REP
Peter,Hall,9000.00,80,SA_REP
Christopher,Olsen,8000.00,80,SA_REP
Nanette,Cambrault,7500.00,80,SA_REP
Oliver,Tuvault,7000.00,80,SA_REP
Janette,King,10000.00,80,SA_REP
Patrick,Sully,9500.00,80,SA_REP
Allan,McEwen,9000.00,80,SA_REP
Lindsey,Smith,8000.00,80,SA_REP
Louise,Doran,7500.00,80,SA_REP
Sarath,Sewall,7000.00,80,SA_REP
Clara,Vishney,10500.00,80,SA_REP
Danielle,Greene,9500.00,80,SA_REP
Mattea,Marvins,7200.00,80,SA_REP
David,Lee,6800.00,80,SA_REP
Sundar,Ande,6400.00,80,SA_REP
Amit,Banda,6200.00,80,SA_REP
Lisa,Ozer,11500.00,80,SA_REP
Harrison,Bloom,10000.00,80,SA_REP
Tayler,Fox,9600.00,80,SA_REP
William,Smith,7400.00,80,SA_REP
Elizabeth,Bates,7300.00,80,SA_REP
Sundita,Kumar,6100.00,80,SA_REP
Ellen,Abel,11000.00,80,SA_REP
Alyssa,Hutton,8800.00,80,SA_REP
Jonathon,Taylor,8600.00,80,SA_REP
Jack,Livingston,8400.00,80,SA_REP
Kimberely,Grant,7000.00,0,SA_REP
Charles,Johnson,6200.00,80,SA_REP

In [17]:
--Q2
select FIRST_NAME ,LAST_NAME,salary,DEPARTMENT_ID,JOB_ID from employees1 where MANAGER_ID=122

FIRST_NAME,LAST_NAME,salary,DEPARTMENT_ID,JOB_ID
Jason,Mallin,3300.00,50,ST_CLERK
Michael,Rogers,2900.00,50,ST_CLERK
Ki,Gee,2400.00,50,ST_CLERK
Hazel,Philtanker,2200.00,50,ST_CLERK
Kelly,Chung,3800.00,50,SH_CLERK
Jennifer,Dilly,3600.00,50,SH_CLERK
Timothy,Gates,2900.00,50,SH_CLERK
Randall,Perkins,2500.00,50,SH_CLERK

In [18]:
--Q3
select FIRST_NAME ,LAST_NAME,HIRE_DATE from employees1 where HIRE_DATE between '08/01/1987' and '08/19/1987'

FIRST_NAME,LAST_NAME,HIRE_DATE
John,Russell,1987-08-01
Karen,Partners,1987-08-02
Alberto,Errazuriz,1987-08-03
Gerald,Cambrault,1987-08-04
Eleni,Zlotkey,1987-08-05
Peter,Tucker,1987-08-06
David,Bernstein,1987-08-07
Peter,Hall,1987-08-08
Christopher,Olsen,1987-08-09
Nanette,Cambrault,1987-08-10
Oliver,Tuvault,1987-08-11
Janette,King,1987-08-12
Patrick,Sully,1987-08-13
Allan,McEwen,1987-08-14
Lindsey,Smith,1987-08-15
Louise,Doran,1987-08-16
Sarath,Sewall,1987-08-17
Clara,Vishney,1987-08-18
Danielle,Greene,1987-08-19

In [19]:
--Q4
select  EMPLOYEE_ID,FIRST_NAME,LAST_NAME,JOB_ID FROM employees1 where EMPLOYEE_ID between 103 and 120

EMPLOYEE_ID,FIRST_NAME,LAST_NAME,JOB_ID
103,Alexander,Hunold,IT_PROG
104,Bruce,Ernst,IT_PROG
105,David,Austin,IT_PROG
106,Valli,Pataballa,IT_PROG
107,Diana,Lorentz,IT_PROG
108,Nancy,Greenberg,FI_MGR
109,Daniel,Faviet,FI_ACCOUNT
110,John,Chen,FI_ACCOUNT
111,Ismael,Sciarra,FI_ACCOUNT
112,Jose Manuel,Urman,FI_ACCOUNT
113,Luis,Popp,FI_ACCOUNT
114,Den,Raphaely,PU_MAN
115,Alexander,Khoo,PU_CLERK
116,Shelli,Baida,PU_CLERK
117,Sigal,Tobias,PU_CLERK
118,Guy,Himuro,PU_CLERK
119,Karen,Colmenares,PU_CLERK
120,Matthew,Weiss,ST_MAN

In [20]:
--Q5
select FIRST_NAME,LAST_NAME,DEPARTMENT_ID from employees1 where DEPARTMENT_ID in (90,60,100,30)

FIRST_NAME,LAST_NAME,DEPARTMENT_ID
Steven,King,90
Neena,Kochhar,90
Lex,De Haan,90
Alexander,Hunold,60
Bruce,Ernst,60
David,Austin,60
Valli,Pataballa,60
Diana,Lorentz,60
Nancy,Greenberg,100
Daniel,Faviet,100
John,Chen,100
Ismael,Sciarra,100
Jose Manuel,Urman,100
Luis,Popp,100
Den,Raphaely,30
Alexander,Khoo,30
Shelli,Baida,30
Sigal,Tobias,30
Guy,Himuro,30
Karen,Colmenares,30

In [21]:
--Q6
select DEPARTMENT_ID, sum(salary) from employees1 where DEPARTMENT_ID in (select DEPARTMENT_ID from departments) group by DEPARTMENT_ID

DEPARTMENT_ID,(No column name)
10,4400.00
20,19000.00
30,24900.00
40,6500.00
50,156400.00
60,28800.00
70,10000.00
80,304500.00
90,58000.00
100,51600.00
110,20300.00

In [22]:
--Q7
select FIRST_NAME,LAST_NAME from employees1 where MANAGER_ID in (100,101)

FIRST_NAME,LAST_NAME
Neena,Kochhar
Lex,De Haan
Nancy,Greenberg
Den,Raphaely
Matthew,Weiss
Adam,Fripp
Payam,Kaufling
Shanta,Vollman
Kevin,Mourgos
John,Russell
Karen,Partners
Alberto,Errazuriz
Gerald,Cambrault
Eleni,Zlotkey
Jennifer,Whalen
Michael,Hartstein
Susan,Mavris
Hermann,Baer
Shelley,Higgins

In [23]:

--Q8
select FIRST_NAME, LAST_NAME from employees1 where DEPARTMENT_ID in(select DEPARTMENT_ID from employees1 group by DEPARTMENT_ID
having count(DEPARTMENT_ID) between 1 and 2) and MANAGER_ID not in(201,205)

FIRST_NAME,LAST_NAME
Kimberely,Grant
Jennifer,Whalen
Michael,Hartstein
Susan,Mavris
Hermann,Baer
Shelley,Higgins

In [24]:
--Q9
select * from employees1
select * from departments
select * from job_history

select  * from departments
where DEPARTMENT_ID in(select DEPARTMENT_ID from employees1
where EMPLOYEE_ID in(select EMPLOYEE_ID from job_history group by EMPLOYEE_ID having count(EMPLOYEE_ID)>1)
group by DEPARTMENT_ID having max(SALARY) > 7000)

EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
100,Steven,King,SKING,515.123.4567,1987-06-17,AD_PRES,24000.00,0.00,0,90
101,Neena,Kochhar,NKOCHHAR,515.123.4568,1987-06-18,AD_VP,17000.00,0.00,100,90
102,Lex,De Haan,LDEHAAN,515.123.4569,1987-06-19,AD_VP,17000.00,0.00,100,90
103,Alexander,Hunold,AHUNOLD,590.423.4567,1987-06-20,IT_PROG,9000.00,0.00,102,60
104,Bruce,Ernst,BERNST,590.423.4568,1987-06-21,IT_PROG,6000.00,0.00,103,60
105,David,Austin,DAUSTIN,590.423.4569,1987-06-22,IT_PROG,4800.00,0.00,103,60
106,Valli,Pataballa,VPATABAL,590.423.4560,1987-06-23,IT_PROG,4800.00,0.00,103,60
107,Diana,Lorentz,DLORENTZ,590.423.5567,1987-06-24,IT_PROG,4200.00,0.00,103,60
108,Nancy,Greenberg,NGREENBE,515.124.4569,1987-06-25,FI_MGR,12000.00,0.00,101,100
109,Daniel,Faviet,DFAVIET,515.124.4169,1987-06-26,FI_ACCOUNT,9000.00,0.00,108,100
110,John,Chen,JCHEN,515.124.4269,1987-06-27,FI_ACCOUNT,8200.00,0.00,108,100
111,Ismael,Sciarra,ISCIARRA,515.124.4369,1987-06-28,FI_ACCOUNT,7700.00,0.00,108,100
112,Jose Manuel,Urman,JMURMAN,515.124.4469,1987-06-29,FI_ACCOUNT,7800.00,0.00,108,100
113,Luis,Popp,LPOPP,515.124.4567,1987-06-30,FI_ACCOUNT,6900.00,0.00,108,100
114,Den,Raphaely,DRAPHEAL,515.127.4561,1987-07-01,PU_MAN,11000.00,0.00,100,30
115,Alexander,Khoo,AKHOO,515.127.4562,1987-07-02,PU_CLERK,3100.00,0.00,114,30
116,Shelli,Baida,SBAIDA,515.127.4563,1987-07-03,PU_CLERK,2900.00,0.00,114,30
117,Sigal,Tobias,STOBIAS,515.127.4564,1987-07-04,PU_CLERK,2800.00,0.00,114,30
118,Guy,Himuro,GHIMURO,515.127.4565,1987-07-05,PU_CLERK,2600.00,0.00,114,30
119,Karen,Colmenares,KCOLMENA,515.127.4566,1987-07-06,PU_CLERK,2500.00,0.00,114,30
120,Matthew,Weiss,MWEISS,650.123.1234,1987-07-07,ST_MAN,8000.00,0.00,100,50
121,Adam,Fripp,AFRIPP,650.123.2234,1987-07-08,ST_MAN,8200.00,0.00,100,50
122,Payam,Kaufling,PKAUFLIN,650.123.3234,1987-07-09,ST_MAN,7900.00,0.00,100,50
123,Shanta,Vollman,SVOLLMAN,650.123.4234,1987-07-10,ST_MAN,6500.00,0.00,100,50
124,Kevin,Mourgos,KMOURGOS,650.123.5234,1987-07-11,ST_MAN,5800.00,0.00,100,50
125,Julia,Nayer,JNAYER,650.124.1214,1987-07-12,ST_CLERK,3200.00,0.00,120,50
126,Irene,Mikkilineni,IMIKKILI,650.124.1224,1987-07-13,ST_CLERK,2700.00,0.00,120,50
127,James,Landry,JLANDRY,650.124.1334,1987-07-14,ST_CLERK,2400.00,0.00,120,50
128,Steven,Markle,SMARKLE,650.124.1434,1987-07-15,ST_CLERK,2200.00,0.00,120,50
129,Laura,Bissot,LBISSOT,650.124.5234,1987-07-16,ST_CLERK,3300.00,0.00,121,50
130,Mozhe,Atkinson,MATKINSO,650.124.6234,1987-07-17,ST_CLERK,2800.00,0.00,121,50
131,James,Marlow,JAMRLOW,650.124.7234,1987-07-18,ST_CLERK,2500.00,0.00,121,50
132,TJ,Olson,TJOLSON,650.124.8234,1987-07-19,ST_CLERK,2100.00,0.00,121,50
133,Jason,Mallin,JMALLIN,650.127.1934,1987-07-20,ST_CLERK,3300.00,0.00,122,50
134,Michael,Rogers,MROGERS,650.127.1834,1987-07-21,ST_CLERK,2900.00,0.00,122,50
135,Ki,Gee,KGEE,650.127.1734,1987-07-22,ST_CLERK,2400.00,0.00,122,50
136,Hazel,Philtanker,HPHILTAN,650.127.1634,1987-07-23,ST_CLERK,2200.00,0.00,122,50
137,Renske,Ladwig,RLADWIG,650.121.1234,1987-07-24,ST_CLERK,3600.00,0.00,123,50
138,Stephen,Stiles,SSTILES,650.121.2034,1987-07-25,ST_CLERK,3200.00,0.00,123,50
139,John,Seo,JSEO,650.121.2019,1987-07-26,ST_CLERK,2700.00,0.00,123,50
140,Joshua,Patel,JPATEL,650.121.1834,1987-07-27,ST_CLERK,2500.00,0.00,123,50
141,Trenna,Rajs,TRAJS,650.121.8009,1987-07-28,ST_CLERK,3500.00,0.00,124,50
142,Curtis,Davies,CDAVIES,650.121.2994,1987-07-29,ST_CLERK,3100.00,0.00,124,50
143,Randall,Matos,RMATOS,650.121.2874,1987-07-30,ST_CLERK,2600.00,0.00,124,50
144,Peter,Vargas,PVARGAS,650.121.2004,1987-07-31,ST_CLERK,2500.00,0.00,124,50
145,John,Russell,JRUSSEL,011.44.1344.429268,1987-08-01,SA_MAN,14000.00,0.40,100,80
146,Karen,Partners,KPARTNER,011.44.1344.467268,1987-08-02,SA_MAN,13500.00,0.30,100,80
147,Alberto,Errazuriz,AERRAZUR,011.44.1344.429278,1987-08-03,SA_MAN,12000.00,0.30,100,80
148,Gerald,Cambrault,GCAMBRAU,011.44.1344.619268,1987-08-04,SA_MAN,11000.00,0.30,100,80
149,Eleni,Zlotkey,EZLOTKEY,011.44.1344.429018,1987-08-05,SA_MAN,10500.00,0.20,100,80
150,Peter,Tucker,PTUCKER,011.44.1344.129268,1987-08-06,SA_REP,10000.00,0.30,145,80
151,David,Bernstein,DBERNSTE,011.44.1344.345268,1987-08-07,SA_REP,9500.00,0.25,145,80
152,Peter,Hall,PHALL,011.44.1344.478968,1987-08-08,SA_REP,9000.00,0.25,145,80
153,Christopher,Olsen,COLSEN,011.44.1344.498718,1987-08-09,SA_REP,8000.00,0.20,145,80
154,Nanette,Cambrault,NCAMBRAU,011.44.1344.987668,1987-08-10,SA_REP,7500.00,0.20,145,80
155,Oliver,Tuvault,OTUVAULT,011.44.1344.486508,1987-08-11,SA_REP,7000.00,0.15,145,80
156,Janette,King,JKING,011.44.1345.429268,1987-08-12,SA_REP,10000.00,0.35,146,80
157,Patrick,Sully,PSULLY,011.44.1345.929268,1987-08-13,SA_REP,9500.00,0.35,146,80
158,Allan,McEwen,AMCEWEN,011.44.1345.829268,1987-08-14,SA_REP,9000.00,0.35,146,80
159,Lindsey,Smith,LSMITH,011.44.1345.729268,1987-08-15,SA_REP,8000.00,0.30,146,80
160,Louise,Doran,LDORAN,011.44.1345.629268,1987-08-16,SA_REP,7500.00,0.30,146,80
161,Sarath,Sewall,SSEWALL,011.44.1345.529268,1987-08-17,SA_REP,7000.00,0.25,146,80
162,Clara,Vishney,CVISHNEY,011.44.1346.129268,1987-08-18,SA_REP,10500.00,0.25,147,80
163,Danielle,Greene,DGREENE,011.44.1346.229268,1987-08-19,SA_REP,9500.00,0.15,147,80
164,Mattea,Marvins,MMARVINS,011.44.1346.329268,1987-08-20,SA_REP,7200.00,0.10,147,80
165,David,Lee,DLEE,011.44.1346.529268,1987-08-21,SA_REP,6800.00,0.10,147,80
166,Sundar,Ande,SANDE,011.44.1346.629268,1987-08-22,SA_REP,6400.00,0.10,147,80
167,Amit,Banda,ABANDA,011.44.1346.729268,1987-08-23,SA_REP,6200.00,0.10,147,80
168,Lisa,Ozer,LOZER,011.44.1343.929268,1987-08-24,SA_REP,11500.00,0.25,148,80
169,Harrison,Bloom,HBLOOM,011.44.1343.829268,1987-08-25,SA_REP,10000.00,0.20,148,80
170,Tayler,Fox,TFOX,011.44.1343.729268,1987-08-26,SA_REP,9600.00,0.20,148,80
171,William,Smith,WSMITH,011.44.1343.629268,1987-08-27,SA_REP,7400.00,0.15,148,80
172,Elizabeth,Bates,EBATES,011.44.1343.529268,1987-08-28,SA_REP,7300.00,0.15,148,80
173,Sundita,Kumar,SKUMAR,011.44.1343.329268,1987-08-29,SA_REP,6100.00,0.10,148,80
174,Ellen,Abel,EABEL,011.44.1644.429267,1987-08-30,SA_REP,11000.00,0.30,149,80
175,Alyssa,Hutton,AHUTTON,011.44.1644.429266,1987-08-31,SA_REP,8800.00,0.25,149,80
176,Jonathon,Taylor,JTAYLOR,011.44.1644.429265,1987-09-01,SA_REP,8600.00,0.20,149,80
177,Jack,Livingston,JLIVINGS,011.44.1644.429264,1987-09-02,SA_REP,8400.00,0.20,149,80
178,Kimberely,Grant,KGRANT,011.44.1644.429263,1987-09-03,SA_REP,7000.00,0.15,149,0
179,Charles,Johnson,CJOHNSON,011.44.1644.429262,1987-09-04,SA_REP,6200.00,0.10,149,80
180,Winston,Taylor,WTAYLOR,650.507.9876,1987-09-05,SH_CLERK,3200.00,0.00,120,50
181,Jean,Fleaur,JFLEAUR,650.507.9877,1987-09-06,SH_CLERK,3100.00,0.00,120,50
182,Martha,Sullivan,MSULLIVA,650.507.9878,1987-09-07,SH_CLERK,2500.00,0.00,120,50
183,Girard,Geoni,GGEONI,650.507.9879,1987-09-08,SH_CLERK,2800.00,0.00,120,50
184,Nandita,Sarchand,NSARCHAN,650.509.1876,1987-09-09,SH_CLERK,4200.00,0.00,121,50
185,Alexis,Bull,ABULL,650.509.2876,1987-09-10,SH_CLERK,4100.00,0.00,121,50
186,Julia,Dellinger,JDELLING,650.509.3876,1987-09-11,SH_CLERK,3400.00,0.00,121,50
187,Anthony,Cabrio,ACABRIO,650.509.4876,1987-09-12,SH_CLERK,3000.00,0.00,121,50
188,Kelly,Chung,KCHUNG,650.505.1876,1987-09-13,SH_CLERK,3800.00,0.00,122,50
189,Jennifer,Dilly,JDILLY,650.505.2876,1987-09-14,SH_CLERK,3600.00,0.00,122,50
190,Timothy,Gates,TGATES,650.505.3876,1987-09-15,SH_CLERK,2900.00,0.00,122,50
191,Randall,Perkins,RPERKINS,650.505.4876,1987-09-16,SH_CLERK,2500.00,0.00,122,50
192,Sarah,Bell,SBELL,650.501.1876,1987-09-17,SH_CLERK,4000.00,0.00,123,50
193,Britney,Everett,BEVERETT,650.501.2876,1987-09-18,SH_CLERK,3900.00,0.00,123,50
194,Samuel,McCain,SMCCAIN,650.501.3876,1987-09-19,SH_CLERK,3200.00,0.00,123,50
195,Vance,Jones,VJONES,650.501.4876,1987-09-20,SH_CLERK,2800.00,0.00,123,50
196,Alana,Walsh,AWALSH,650.507.9811,1987-09-21,SH_CLERK,3100.00,0.00,124,50
197,Kevin,Feeney,KFEENEY,650.507.9822,1987-09-22,SH_CLERK,3000.00,0.00,124,50
198,Donald,OConnell,DOCONNEL,650.507.9833,1987-09-23,SH_CLERK,2600.00,0.00,124,50
199,Douglas,Grant,DGRANT,650.507.9844,1987-09-24,SH_CLERK,2600.00,0.00,124,50
200,Jennifer,Whalen,JWHALEN,515.123.4444,1987-09-25,AD_ASST,4400.00,0.00,101,10
201,Michael,Hartstein,MHARTSTE,515.123.5555,1987-09-26,MK_MAN,13000.00,0.00,100,20
202,Pat,Fay,PFAY,603.123.6666,1987-09-27,MK_REP,6000.00,0.00,201,20
203,Susan,Mavris,SMAVRIS,515.123.7777,1987-09-28,HR_REP,6500.00,0.00,101,40
204,Hermann,Baer,HBAER,515.123.8888,1987-09-29,PR_REP,10000.00,0.00,101,70
205,Shelley,Higgins,SHIGGINS,515.123.8080,1987-09-30,AC_MGR,12000.00,0.00,101,110
206,William,Gietz,WGIETZ,515.123.8181,1987-10-01,AC_ACCOUNT,8300.00,0.00,205,110

DEPARTMENT_ID,DEPARTMENT_NAME,MANAGER_ID,LOCATION_ID
10,Administration,200,1700
20,Marketing,201,1800
30,Purchasing,114,1700
40,Human Resources,203,2400
50,Shipping,121,1500
60,IT,103,1400
70,Public Relations,204,2700
80,Sales,145,2500
90,Executive,100,1700
100,Finance,108,1700
110,Accounting,205,1700
120,Treasury,0,1700
130,Corporate Tax,0,1700
140,Control And Credit,0,1700
150,Shareholder Services,0,1700
160,Benefits,0,1700
170,Manufacturing,0,1700
180,Construction,0,1700
190,Contracting,0,1700
200,Operations,0,1700
210,IT Support,0,1700
220,NOC,0,1700
230,IT Helpdesk,0,1700
240,Government Sales,0,1700
250,Retail Sales,0,1700
260,Recruiting,0,1700
270,Payroll,0,1700

EMPLOYEE_ID,START_DATE,END_DATE,JOB_ID,DEPARTMENT_ID
101,1989-09-21,1993-10-27,AC_ACCOUNT,110
101,1993-10-28,1997-03-15,AC_MGR,110
102,1993-01-13,1998-07-24,IT_PROG,60
114,1998-03-24,1999-12-31,ST_CLERK,50
122,1999-01-01,1999-12-31,ST_CLERK,50
176,1998-03-24,1998-12-31,SA_REP,80
176,1999-01-01,1999-12-31,SA_MAN,80
200,1987-09-17,1993-06-17,AD_ASST,90
200,1994-07-01,1998-12-31,AC_ACCOUNT,90
201,1996-02-17,1999-12-19,MK_REP,20

DEPARTMENT_ID,DEPARTMENT_NAME,MANAGER_ID,LOCATION_ID
80,Sales,145,2500
90,Executive,100,1700

In [26]:
--Q10
select * from locations
select * from departments where DEPARTMENT_ID in (70,90,110)

LOCATION_ID,STREET_ADDRESS,POSTAL_CODE,CITY,STATE_PROVINCE,COUNTRY_ID
1000,1297 Via Cola di Rie,989,Roma,,IT
1100,93091 Calle della Testa,10934,Venice,,IT
1200,2017 Shinjuku-ku,1689,Tokyo,Tokyo Prefecture,JP
1300,9450 Kamiya-cho,6823,Hiroshima,,JP
1400,2014 Jabberwocky Rd,26192,Southlake,Texas,US
1500,2011 Interiors Blvd,99236,South San Francisco,California,US
1600,2007 Zagora St,50090,South Brunswick,New Jersey,US
1700,2004 Charade Rd,98199,Seattle,Washington,US
1800,147 Spadina Ave,M5V 2L7,Toronto,Ontario,CA
1900,6092 Boxwood St,YSW 9T2,Whitehorse,Yukon,CA
2000,40-5-12 Laogianggen,190518,Beijing,,CN
2100,1298 Vileparle (E),490231,Bombay,Maharashtra,IN
2200,12-98 Victoria Street,2901,Sydney,New South Wales,AU
2300,198 Clementi North,540198,Singapore,,SG
2400,8204 Arthur St,,London,,UK
2500,"""Magdalen Centre",The Oxford,OX9 9ZB,Oxford,Ox
2600,9702 Chester Road,9629850293,Stretford,Manchester,UK
2700,Schwanthalerstr. 7031,80925,Munich,Bavaria,DE
2800,Rua Frei Caneca 1360,01307-002,Sao Paulo,Sao Paulo,BR
2900,20 Rue des Corps-Saints,1730,Geneva,Geneve,CH
3000,Murtenstrasse 921,3095,Bern,BE,CH
3100,Pieter Breughelstraat 837,3029SK,Utrecht,Utrecht,NL
3200,Mariano Escobedo 9991,11932,Mexico City,"""Distrito Federal",""""

DEPARTMENT_ID,DEPARTMENT_NAME,MANAGER_ID,LOCATION_ID
70,Public Relations,204,2700
90,Executive,100,1700
110,Accounting,205,1700

In [27]:
--Q11
select DEPARTMENT_ID, concat(FIRST_NAME, '', LAST_NAME)as FullName, SALARY from employees1 a 
WHERE SALARY in(SELECT max(SALARY) from employees1 where DEPARTMENT_ID=a.DEPARTMENT_ID)

DEPARTMENT_ID,FullName,SALARY
110,ShelleyHiggins,12000.00
100,NancyGreenberg,12000.00
90,StevenKing,24000.00
80,JohnRussell,14000.00
70,HermannBaer,10000.00
60,AlexanderHunold,9000.00
50,AdamFripp,8200.00
40,SusanMavris,6500.00
30,DenRaphaely,11000.00
20,MichaelHartstein,13000.00
10,JenniferWhalen,4400.00
0,KimberelyGrant,7000.00

In [28]:
--Q12
select * from jobs
select job_id,JOB_TITLE,MIN_SALARY,MAX_SALARY from jobs where JOB_ID='SA_REP'

JOB_ID,JOB_TITLE,MIN_SALARY,MAX_SALARY
AC_ACCOUNT,Public Accountant,4200,9000
AC_MGR,Accounting Manager,8200,16000
AD_ASST,Administration Assistant,3000,6000
AD_PRES,President,20000,40000
AD_VP,Administration Vice President,15000,30000
FI_ACCOUNT,Accountant,4200,9000
FI_MGR,Finance Manager,8200,16000
HR_REP,Human Resources Representative,4000,9000
IT_PROG,Programmer,4000,10000
MK_MAN,Marketing Manager,9000,15000
MK_REP,Marketing Representative,4000,9000
PR_REP,Public Relations Representative,4500,10500
PU_CLERK,Purchasing Clerk,2500,5500
PU_MAN,Purchasing Manager,8000,15000
SA_MAN,Sales Manager,10000,20000
SA_REP,Sales Representative,6000,12000
SH_CLERK,Shipping Clerk,2500,5500
ST_CLERK,Stock Clerk,2000,5000
ST_MAN,Stock Manager,5500,8500

job_id,JOB_TITLE,MIN_SALARY,MAX_SALARY
SA_REP,Sales Representative,6000,12000